<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/norbertszsor/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="norbertszsor" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>